@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700;900&family=Oswald:wght@300&family=Pixelify+Sans&display=swap");

.login-body {
  background: rgb(25, 124, 219);
  background: linear-gradient(
    0deg,
    rgba(25, 124, 219, 1) 0%,
    rgba(86, 233, 247, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  padding-top: 30%;
}

.login-con {
  background-color: white;
  height: 200px;
  position: absolute;
  top: 35%;
  text-align: center;
  width: 50%;
  margin-left: 27%;
  border-radius: 20px;
}

.items {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: x-large;
  font-family: "Fira Sans", sans-serif;
  padding-top: 10px;
}

.btn {
  height: 30px;
  width: 120px;
  border-radius: 10px;
  border-color: #2a81e4;
  background-color: #3388e8;
  color: rgb(14, 13, 13);
  justify-content: center;
}

.btn:hover {
  opacity: 0.6;
  color: white;
  box-shadow: 10px 10px 5px lightblue;
}

.goalAdd {
  margin-top: 12px;
  margin-right: 6px;
  height: 36px;
  width: 120px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: rgb(46, 201, 46);
}

.thead-goal {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-left: 10px;
  margin-right: 10px;
}

.card-container {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  /* min-width: 30%; */
  margin-top: 5%;
  margin-bottom: 20px;
  justify-content: space-between;
}
.cards {
  border: 2px solid;
  text-align: center;
  border-radius: 25%;
  max-width:10%;
  min-width: 7rem;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  font-style: italic;
  justify-content: space-evenly;
  box-shadow: 5px 5px 5px rgb(59, 143, 216);
}

.card-title {
  font-size: 45px;
  font-family: "Fira Sans", sans-serif;
}

.card-footer {
  font-weight: bolder;
}

.bar {
  background-color: aliceblue;
  border-radius: 50%;
}

.select{
  height: 36px;
  width: 100px;
  background-color: rgb(65, 86, 211);
  margin-top: 12px;
  border-radius: 15px;
}